# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/

# By excluding these files and directories, you ensure that 
# your Docker image is clean, secure, and only contains
# the necessary files to run your application.